*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-header{
    background-color: #df6b67;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    color: white;
}

.container-header h1{
    margin-left: 20px;
}

.Navbar img{
    width: 25px;
    height: 25px;
    position: absolute;
    
}

.sec-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-sobre {
    display: flex;
    align-items: center;
    
    flex-direction: row;
}
  
.content {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
}
  
.text-sobre {
    flex: 1; /* Ocupa todo o espaço restante */
    word-break: normal;
    margin-right: 50px;
    margin-left: 50px;
    

}
  
.img-sobre {
    margin-right: 100px;
    
}

.img-sobre img{
    height: 300px;
    width: 300px;
    
}



.container-header .Navbar {
    display: flex;
    margin-right: 50px;
    list-style-type: none;
}

.container-header .Navbar li a{
    margin-left: 20px;
    color: black;
    text-decoration: none;
}

.container-header .Navbar li a:hover{
    color: blueviolet;
}

.container-banner{
    background-color: white;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.container-banner img{
    object-fit: cover;
    width: 100%;
}

.container-nos{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.nos-membros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.nos-texto{
    margin-top: 50px;
    font-size: 30px;
}

.nos-membro {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 40px;
    
}

.container-nos img{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.container-nos div h1{
    font-size: 20px;
}

.container-nos p{
    font-size: 13px;
    font-style: italic;
}


.footer{
    background-color: #df6b67;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
    padding: 10px;
    justify-content: space-around;
    gap: 10px;
    margin: 10px;
}

.contact-info .p{
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-left{
    display: flex;
    justify-content: left;
    align-items: center;
}


.container-texto{
    background-color: black;
}

.titulo h1{
 font-size: 24px;
}


.titulo p{
  font-size: 11px;
 }

 .descricao h1{
  font-size: 14px;
 }

 .slider {
    display: block;
    height: 700px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    position: relative;
    justify-content: center;
    
  }
  .slider li {
    list-style: none;
    position: absolute;
  }
  
  .slider img {
    margin: auto;
    height: 90%;
    width: 70%;
    vertical-align: top;
    object-fit: cover;
  }

  .slider input {
    display: none;
}
.slider label{
    justify-content: center;
    background-color: gray;
    border-radius: 10px;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label{
    left: 10px;
}

.slider li:nth-child(2) label{
    left: 40px;
}

.slider li:nth-child(3) label{
    left: 70px;
}

.slider li:nth-child(4) label{
    left: 10px;
}

.slider li:nth-child(5) label{
    left: 40px;
}

.slider li:nth-child(6) label{
    left: 70px;
}

.slider img {
    opacity: 0;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}


 