*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-header{
    background-color: gray;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    color: white;
    position: fixed;
}

.container-header h1{
    margin-left: 20px;
}

.Navbar img{
    width: 25px;
    height: 25px;
    position: absolute;
    
}

.container-header .Navbar {
    display: flex;
    margin-right: 50px;
    list-style-type: none;
}

.container-header .Navbar li a{
    margin-left: 20px;
    color: violet;
    text-decoration: none;
}

.container-header .Navbar li a:hover{
    color: blueviolet;
}

.container-banner{
    background-color: white;
}

.container-banner h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-banner img{
    width: 100%;
    height: 500px;
    
}

.container-nos{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.nos-membros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.nos-texto{
    margin-top: 50px;
    font-size: 30px;
}

.nos-membro {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 40px;
    
}

.container-nos img{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.container-nos div h1{
    font-size: 20px;
}

.container-nos p{
    font-size: 13px;
    font-style: italic;
}

.container-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container-sobre div{
    width: 400px;
    text-align: center;
}

.container-sobre div p{
    margin-top: 20px;
}

.container-footer{
    margin-top: 50px;
    background-color: gray;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container-texto{
    background-color: black;
}